{% extends 'en/main.html' %}
{% load static %}



{%block body%}

<style>
    .main{
        width: 100%;
    }
    .main img{
        width: 100%;
    }

    .col-lg-4 p, .col-lg-6 p{
        text-align: center;
        color: whitesmoke;
    }

    .col-lg-4 img{
        width: 100%;
    }

    .firmas{
        margin-top: 50px;
    }

    .videos{
        background-color:#2B8ADC;
        
    }

</style>

<div class=" main">

    <img src= " {% static 'img/testimonials.png'%} " alt="">
</div>



<div class="container">
    <div class="row firmas">


        <div class="col-lg-4">
            <p class="letras" style="color: gray;">
                Excellent treatment with the patient, warm and very human staff, the doctors are the maximum
            </p>
            <p><img src="  {%static 'img/gretchen.png'%}  " alt=""></p>
            <p  style="color: gray;"><b>Gretchen Compres</b></p>
        </div>


        <div class="col-lg-4">
            <p class="letras" style="color: gray;">
                Thank you very much to everyone at the IMG Hospital, especially Dr. Liz Perez, my gynecologist and Dr. Luis Martinez, and to all those who attended me during the delivery of my baby.

The services and care exceeded our expectations and that helped my delivery to be successful!

. Congratulations also to the Kitchen department … The food was 5 stars!
            </p>
            <p><img src="  {%static 'img/maria.png'%}  " alt=""></p>
            <p  style="color: gray;"><b>Maria Eugenia Tochon</b></p>
        </div>

        <div class="col-lg-4">
            <p class="letras" style="color: gray;">
                The IMG Hospital staff was very friendly from my arrival. I am on vacation in Punta Cana for 6 days and unfortunately I had to come and get checked because I felt bad, I was hospitalized and the attention was quick and timely, professional and very friendly. The facilities and equipment are of a high standard and I felt safe and well cared for. Thanks to Dr. Liz and Nancy especially. Cheers !
            </p>
            <p><img src="  {%static 'img/nathalia.png'%}  " alt=""></p>
            <p  style="color: gray;"><b>Nathalia Piedrahita</b></p>
        </div>



    </div>
   
</div>

<div class="videos">
    <div class="container">
    <div class="row">
        

            <div class="col-lg-4">

                <p>
                  <b>  PABLO</b> <br>
                 <b>   NOVIEMBRE 2019</b>
                </p>
                <iframe width="100%" height="315" src="https://www.youtube.com/embed/DKii5STO_5U" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>


            <div class="col-lg-4">
                <p>
                  <b>  ALESKA</b> <br>
                 <b>   SEPTIEMBRE  2019</b>
                </p>
                <iframe width="100%" height="315" src="https://www.youtube.com/embed/39p3Cp0Iqgc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>


            
            <div class="col-lg-4">
                <p>
                  <b>  ANERA</b> <br>
                 <b>   AGOSTO   2019</b>
                </p>
                <iframe width="100%" height="315" src="https://www.youtube.com/embed/T-YxYg9Gl48" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>


            <div class="col-lg-4">
                <p>
                  <b>  GABRIELA</b> <br>
                 <b>   JULIO   2019</b>
                </p>
                <iframe width="100%" height="315" src="https://www.youtube.com/embed/7hP-8UdUpTU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>


            <div class="col-lg-4">
                <p>
                  <b>  ROSANNA ABREU</b> <br>
                 <b>   JUNIO   2019</b>
                </p>
                <iframe width="100%" height="315" src="https://www.youtube.com/embed/xmv1QJoASIE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>

            <div class="col-lg-4">
                <p>
                  <b>  EUSTACHE SANTIANA</b> <br>
                 <b>   MAYO   2019</b>
                </p>
                <iframe width="100%" height="315" src="https://www.youtube.com/embed/wsA28hX-7Xo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>

            <div class="col-lg-4">
                <p>
                  <b>  SHARON</b> <br>
                 <b>   ABRIL    2019</b>
                </p>
                <iframe width="100%" height="315" src="https://www.youtube.com/embed/aM0rgb0hqx8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>

            <div class="col-lg-4">
                <p>
                  <b>  DAVID TAVERAS</b> <br>
                 <b>   ABRIL    2019</b>
                </p>
                <iframe width="100%" height="315" src="https://www.youtube.com/embed/XICM40eZeEc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>

            <div class="col-lg-4">
                <p>
                  <b>  LUIS MENDOZA</b> <br>
                 <b>   ABRIL    2019</b>
                </p>
                <iframe width="100%" height="315" src="https://www.youtube.com/embed/q1c7_s5zs-g" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>

            <div class="col-lg-4">
                <p>
                  <b>  
                    ROBERT THEOBARD</b> <br>
                 <b>   ABRIL    2019</b>
                </p>
                <iframe width="100%" height="315" src="https://www.youtube.com/embed/jGOn5w1AVCo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>

            <div class="col-lg-4">
                <p>
                  <b>  
                    MAXIME DUFOR</b> <br>
                 <b>   MARZO     2019</b>
                </p>
                <iframe width="100%" height="315" src="https://www.youtube.com/embed/r298Kj3oXWw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>

            <div class="col-lg-4">
                <p>
                  <b>  
                    KATERINA CRAWFORD</b> <br>
                 <b>   MARZO     2019</b>
                </p>
                <iframe width="100%" height="315" src="https://www.youtube.com/embed/MtEZEOz8GCo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>

            <div class="col-lg-6">
                <p>
                  <b>  JULIAN SORE</b> <br>
                 <b>   MARZO   2019</b>
                </p>
                <iframe width="100%" height="315" src="https://www.youtube.com/embed/pZMWNRPGlyA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>

            <div class="col-lg-6">
                <p>
                  <b> AGUSTINE FARIAS</b> <br>
                 <b>DICIEMBRE 2018</b>
                </p>
                <iframe width="100%" height="315" src="https://www.youtube.com/embed/Su8B9wiNdRc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <script>
      AOS.init();
    </script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
{%endblock%}