{% extends 'base.html' %}
{% load static %}

{%block body%}

<style>
.sticky-element-placeholder.sticky-element-active {
    width: 100% !important;
}
    body{
        margin: 0;
        padding: 0;
    }
    .main-div img {
        width: 100%;
    }

    .main-div {
        width: 100%;
    }

    .segundo-div {
        width: 90%;
        margin-left: 5%;
    }


    .tercer-div {
       width: 100%;
        background-color: whitesmoke;
        margin-top: 20px;
    }

    .tercer-div .row{
        width: 90%;
      
    }

    .tercer-div img{
        width: 150px;
        filter: hue-rotate(120deg);
    }

    .tercer-div p{
        text-align: center;
        color: gray;
    }

    .desc{
        text-align: center;
        margin-top: 25px;
    }

    .tercer-div hr{
        width: 50px;
    }

    .segundo-div h1 {
        margin-top: 35px;
        color: darkblue;
        text-align: center;
    }

    .segundo-div hr {
        width: 50px;
    }

    .texto {
        font-size: 25px;
    }

    .col-lg-8 p,li {
        font-size: 20px;
    }

    .col-lg-4 img{
        border-radius: 10px;
    }


    .maindiv2{
        width: 100%;
        
    }

    .maindiv2 img{
        width: 100%;
        margin-top: 35px;
    }


    .instalaciones{
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
    }
    .h1-instalaciones{
        color: #024985;
        margin-top: 30px;
        text-align: center;
    }

    .instalaciones hr{
        width: 50px;
    }

    .instalaciones img{
        width: 100%;
        margin-top: 25px;
        border-radius: 10px;
    }
</style>
<div class="main-div">
    <br>
    <img src=" {%static 'img/quienessomos.png'%}  " alt="">


    <div class="segundo-div">
        <h1>
            Centro de Salud
            <b>de tercer Nivel</b></h1>
        <hr>

        <div class="row">


            <div class="col-lg-8" data-aos="fade-left" data-aos-duration="2000">
                <p class="texto">
                    <br>
                    El Hospital IMG es un centro de salud de tercer nivel en la zona de Bávaro, Punta Cana; fue
                    construido y dotado de alta tecnología, según las normas internacionales y los estándares vigentes
                    del ministerio de salud de la República Dominicana. La política de IMG es garantizar a sus usuarios
                    tanto nacionales como internacionales una óptima, eficiente y oportuna atención médica.
                    Contamos con un personal bilingüe, amable y bien entrenado, centralizado en proporcionar la mejor
                    calidad en servicios de salud. Nuestro personal se apoya en una infraestructura optima, dotada con
                    alta tecnología, que abarca amplias facilidades a la disposición de pacientes y acompañantes, con
                    capacidad de 40 camas.
                </p>
            </div>

            <div class="col-lg-4" data-aos="fade-left" data-aos-duration="2000">
                <img src=" {%static 'img/frontal.png' %} " alt="">
            </div>


            <div class="col-lg-4" data-aos="fade-left" data-aos-duration="2000">
                <img src=" {%static 'img/emergencias.png' %} " alt="">
            </div>

            <div class="col-lg-8" data-aos="fade-left" data-aos-duration="2000">
                <p>
                    <b> Misión:</b> <br>
                    Ser el centro médico preferido del Caribe, con énfasis en docencia e innovación y atención centrada
                    en el servicio y seguridad del paciente.
                </p>

                <p><b>Visión:</b> <br>
                    Ser el grupo de hospitales internacionales de referencia médica en la región latinoamericana,
                    siempre a la vanguardia y logrando la excelencia en el servicio a nuestros pacientes y a nuestros
                    aliados.

                </p>

                <p>
                    <b>Valores:</b>
                </p>

                <li>
                    Excelencia
                </li>

                <li>
                    Compromiso
                </li>

                <li>
                    Humanidad
                </li>

                <li>
                    Seguridad
                </li>


                



            </div>
        </div>



    </div>


    <div class="tercer-div">
        <div class="row">

            <div class="col-lg-4">
                <p><img src= " {%static 'img/cheque.png' %}  " alt=""></p>

                <p style="color: gray;"> 
                    Vocación de servicio y humanidad en el trato a nuestros pacientes y familiares.
                    <br>
                    Respeto por nuestros clientes, accionistas, colaboradores, medio ambiente y comunidad.
                </p>

                <hr>

            </div>


            <div class="col-lg-4">
                <p><img src= " {%static 'img/consultas.png' %}  " alt=""></p>

                <p  style="color: gray;">
                    Excelencia y Responsabilidad en nuestro que hacer y en el servicio que brindamos.
                    <br>
                    Integridad y Confiabilidad en nuestro actuar.
                </p>
            
                <hr>
            </div>

            <div class="col-lg-4">
                <p><img src="  {% static 'img/latido-del-corazon.png' %}" alt=""></p>

                <p  style="color: gray;">
                    
Integridad y Confiabilidad en nuestro actuar.

Pasión y amor por lo que hacemos.

Innovación, buscando siempre nuevas y mejores formas de servir.
                </p>

                <hr>
            </div>
            

        </div>
    </div>

</div>


<div class="maindiv2">

    <hr>
<h2 class="desc">
    Nuestra amplia capacidad profesional y tecnológica nos permite ofrecer a la población nacional e internacional asistencia medica en las siguientes especialidades:
</h2>

    <img src=" {%static 'img/especialidades.png' %}  " alt="">
</div>

<div class="instalaciones">
    <h1 class="h1-instalaciones">
        Nuestras instalaciones
    </h1>

    <div class="row">

        <div class="col-lg-3" data-aos="fade-left" data-aos-duration="2000">
            <img src=" {%static 'img/1.jpg' %}  " alt="">
        </div>

        <div class="col-lg-3" data-aos="fade-left" data-aos-duration="2000">
            <img src=" {%static 'img/2.jpg' %}  " alt="">
        </div>

        <div class="col-lg-3" data-aos="fade-left" data-aos-duration="2000">
            <img src=" {%static 'img/3.jpg' %}  " alt="">
        </div>

        <div class="col-lg-3" data-aos="fade-left" data-aos-duration="2000">
            <img src=" {%static 'img/4.jpg' %}  " alt="">
        </div>

        <div class="col-lg-3" data-aos="fade-left" data-aos-duration="2000">
            <img src=" {%static 'img/5.jpg' %}  " alt="">
        </div>

        
        <div class="col-lg-3" data-aos="fade-left" data-aos-duration="2000">
            <img src=" {%static 'img/6.jpg' %}  " alt="">
        </div>

        
        <div class="col-lg-3" data-aos="fade-left" data-aos-duration="2000">
            <img src=" {%static 'img/7.jpg' %}  " alt="">
        </div>

        
        <div class="col-lg-3" data-aos="fade-left" data-aos-duration="2000">
            <img src=" {%static 'img/8.jpg' %}  " alt="">
        </div>

        
        <div class="col-lg-3" data-aos="fade-left" data-aos-duration="2000">
            <img src=" {%static 'img/9.jpg' %}  " alt="">
        </div>

        
        <div class="col-lg-3" data-aos="fade-left" data-aos-duration="2000">
            <img src=" {%static 'img/10.jpg' %}  " alt="">
        </div>

        
        <div class="col-lg-3" data-aos="fade-left" data-aos-duration="2000">
            <img src=" {%static 'img/11.jpg' %}  " alt="">
        </div>

        
        <div class="col-lg-3" data-aos="fade-left" data-aos-duration="2000">
            <img src=" {%static 'img/12.jpg' %}  " alt="">
        </div>

    </div>
    <hr>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
  AOS.init();
</script>
{%endblock%}