{% extends 'base.html' %}
{% load static %}



{%block body%}

<style>
    .main{
        width: 100%;
    }
    .main img{
        width: 100%;
    }

    .col-lg-4 p, .col-lg-6 p{
        text-align: center;
        color: whitesmoke;
    }

    .col-lg-4 img{
        width: 100%;
    }

    .firmas{
        margin-top: 50px;
    }

    .videos{
        background-color:#2B8ADC;
        
    }

</style>

<div class=" main">

    <img src= " {% static 'img/testimonios.png'%} " alt="">
</div>



<div class="container">
    <div class="row firmas">


        <div class="col-lg-4">
            <p class="letras" style="color: gray;">
                Excelente trato con el paciente, personal <br>
                 cálido y muy humano, los doctores son lo máximo
            </p>
            <p><img src="  {%static 'img/gretchen.png'%}  " alt=""></p>
            <p  style="color: gray;"><b>Gretchen Compres</b></p>
        </div>


        <div class="col-lg-4">
            <p class="letras" style="color: gray;">
                Muchas gracias a todos en el Hospital IMG, en especial a la Dra. Liz Perez, mi ginecólogoa y al Dr. Luis Martinez, y a todos aquellos que me atendieron durante el parto de mi nene.

                Los servicios y atenciones superaron nuestras expectacivas y eso ayudo a que mi parto fuera exitoso !
                
                PS. Felicitaciones también al departamento de Cocina… La comida fue 5 estrellas !
            </p>
            <p><img src="  {%static 'img/maria.png'%}  " alt=""></p>
            <p  style="color: gray;"><b>Maria Eugenia Tochon</b></p>
        </div>

        <div class="col-lg-4">
            <p class="letras" style="color: gray;">
                El personal del Hospital IMG, fue muy amable desde mi llegada. Estoy de vacaciones en Punta Cana por 6 días e infortunadamente tuve que venir a hacerme revisar porque me sentí mal, Me hospitalizaron y la atención fue rápida y oportuna, profesional y muy amable. Las instalaciones y los equipos son de alto nivel y me senti segura y bien atentida. Gracias a la Dra Liz y a Nancy especialmente. Saludos !
            </p>
            <p><img src="  {%static 'img/nathalia.png'%}  " alt=""></p>
            <p  style="color: gray;"><b>Nathalia Piedrahita</b></p>
        </div>



    </div>
   
</div>

<div class="videos">
    <div class="container">
    <div class="row">
        

            <div class="col-lg-4">

                <p>
                  <b>  PABLO</b> <br>
                 <b>   NOVIEMBRE 2019</b>
                </p>
                <iframe width="100%" height="315" src="https://www.youtube.com/embed/DKii5STO_5U" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>


            <div class="col-lg-4">
                <p>
                  <b>  ALESKA</b> <br>
                 <b>   SEPTIEMBRE  2019</b>
                </p>
                <iframe width="100%" height="315" src="https://www.youtube.com/embed/39p3Cp0Iqgc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>


            
            <div class="col-lg-4">
                <p>
                  <b>  ANERA</b> <br>
                 <b>   AGOSTO   2019</b>
                </p>
                <iframe width="100%" height="315" src="https://www.youtube.com/embed/T-YxYg9Gl48" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>


            <div class="col-lg-4">
                <p>
                  <b>  GABRIELA</b> <br>
                 <b>   JULIO   2019</b>
                </p>
                <iframe width="100%" height="315" src="https://www.youtube.com/embed/7hP-8UdUpTU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>


            <div class="col-lg-4">
                <p>
                  <b>  ROSANNA ABREU</b> <br>
                 <b>   JUNIO   2019</b>
                </p>
                <iframe width="100%" height="315" src="https://www.youtube.com/embed/xmv1QJoASIE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>

            <div class="col-lg-4">
                <p>
                  <b>  EUSTACHE SANTIANA</b> <br>
                 <b>   MAYO   2019</b>
                </p>
                <iframe width="100%" height="315" src="https://www.youtube.com/embed/wsA28hX-7Xo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>

            <div class="col-lg-4">
                <p>
                  <b>  SHARON</b> <br>
                 <b>   ABRIL    2019</b>
                </p>
                <iframe width="100%" height="315" src="https://www.youtube.com/embed/aM0rgb0hqx8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>

            <div class="col-lg-4">
                <p>
                  <b>  DAVID TAVERAS</b> <br>
                 <b>   ABRIL    2019</b>
                </p>
                <iframe width="100%" height="315" src="https://www.youtube.com/embed/XICM40eZeEc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>

            <div class="col-lg-4">
                <p>
                  <b>  LUIS MENDOZA</b> <br>
                 <b>   ABRIL    2019</b>
                </p>
                <iframe width="100%" height="315" src="https://www.youtube.com/embed/q1c7_s5zs-g" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>

            <div class="col-lg-4">
                <p>
                  <b>  
                    ROBERT THEOBARD</b> <br>
                 <b>   ABRIL    2019</b>
                </p>
                <iframe width="100%" height="315" src="https://www.youtube.com/embed/jGOn5w1AVCo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>

            <div class="col-lg-4">
                <p>
                  <b>  
                    MAXIME DUFOR</b> <br>
                 <b>   MARZO     2019</b>
                </p>
                <iframe width="100%" height="315" src="https://www.youtube.com/embed/r298Kj3oXWw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>

            <div class="col-lg-4">
                <p>
                  <b>  
                    KATERINA CRAWFORD</b> <br>
                 <b>   MARZO     2019</b>
                </p>
                <iframe width="100%" height="315" src="https://www.youtube.com/embed/MtEZEOz8GCo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>

            <div class="col-lg-6">
                <p>
                  <b>  JULIAN SORE</b> <br>
                 <b>   MARZO   2019</b>
                </p>
                <iframe width="100%" height="315" src="https://www.youtube.com/embed/pZMWNRPGlyA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>

            <div class="col-lg-6">
                <p>
                  <b> AGUSTINE FARIAS</b> <br>
                 <b>DICIEMBRE 2018</b>
                </p>
                <iframe width="100%" height="315" src="https://www.youtube.com/embed/Su8B9wiNdRc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <script>
      AOS.init();
    </script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
{%endblock%}